@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; 
    --foreground: 222 47% 11%; 
  }

  .dark {
    --background: 222 47% 6%;  
    --foreground: 210 40% 98%; 
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply transition-colors duration-300;
  }

  .dark body {
    background-color: #020617; 
  }
}
